:root {
    --button: #AF7735;
    --font: #181823;
    --bg: #ffffff;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg);
    min-height: 9000px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #AF7735; */
    background-color: #ffffff;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-family: "Noto Sans";
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--font);
}

.navbar .navbar-logo img {
    width: 2.188rem;
    height: 1.954rem;
}

.navbar .navbar-nav {
    display: inline-block;
    margin-left: 5rem;
}

.navbar .navbar-nav a {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--font);
    margin: 0 1.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--button);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--button);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra {
    display: flex;
}

.navbar .navbar-extra .search-box{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(129, 129, 148, 0.2);
    border-radius: 0.625rem;
    padding: 0.938rem 1.75rem;
}

.navbar .navbar-extra .search-box img {
    margin-right: 0.992rem;
    margin-bottom: 0.2rem;
}

.navbar .navbar-extra .search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(223, 223, 229, 0.2);
}

.navbar .navbar-extra .menu {
    color: var(--font);
    margin: 0.8rem 0 0 1rem;
}

.navbar .navbar-extra .menu:hover {
    color: var(--button);
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/hero1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: #5F4221; */
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    
}

.hero .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 3.75rem;
    color: #5F4221;
    line-height: 4.375rem;
    width: 100%;
    max-width: 42.8rem;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: var(--button);
  text-decoration: none;
  border-radius: 0.875rem;
  transition: all 0.3s ease;
}

.hero .content .cta:hover {
  transform: scale(1.1);
}

.hero .content img {
  width: 100%;
  max-width: 11rem;
  display: block;
  margin-top: 1.3rem;
  transition: all 0.3s ease;
}

.hero .content img:hover {
  transform: scale(1.1);
}

/* Step User */

.step {
    margin-top: 7.5rem;
    justify-content: center;
    /* background-color: rgb(252, 216, 169); */
}

.step h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3.125rem;
    margin-bottom: 1.75rem;
}

.step p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #818194;
}

.step .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8.875rem;
}

.step .container .step-card {
    /* background-color: aquamarine; */
    width: 12.813rem;
    height: 100%;
    display: block;
    text-align: center;
    margin-left: 2.75rem;
    margin-bottom: 5rem;
    justify-content: center;
}

.step .container .step-card p {
    font-style: normal;
    font-weight: 400;
    width: 12.813rem;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #818194;
}

.step .container .card {
    position: relative;
    background: #F0B978;
    width: 100%;
    max-width: 12.813rem;
    height: 6.563rem;
    border-radius: 0.75rem;
    transition: all 120ms;
    margin: auto;
    margin-bottom: 2rem;
    
}

.step .container .card img {
    position: absolute;
    align-items: start;
    bottom: 30%;
    left: 9%;
    width: 10.375rem;
    height: auto;
    /* filter: drop-shadow(0 3px 0 rgb(76, 76, 76)); */
    /* transform: translate(-50%, -50%); */
    animation: pict 1s ease infinite alternate;
    transition: all .4s ease-in;
    
}

@keyframes pict {
    from {
        top: 0%;
    }

    to {
        top: 10%;
    }
}

.step .container .card:hover img {
    width: 12rem;
    height: auto;
    animation: none;
}

/* Why Furtable */

.why {
    margin-top: 3rem;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.why h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3.125rem;
    margin-bottom: 1.75rem;
}

.why p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #818194;
}

.why .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.why .container .card {
  /* justify-content: end;
  align-items: start; */
  width: 15.625rem;
  height: 17.5rem;
  background: rgba(129, 129, 148, 0.12);
  border-radius: 1rem;
  padding: 3.5rem 0 0 1.563rem;
}

.why .container .card .inner-card {
  width: 12.5rem;
  height: 10.5rem;
  /* background-color: #F0B978; */
}

.why .container .card .inner-card img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1.25rem;
}

.why .container .card .inner-card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
}

.why .container .card .inner-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #818194;
  text-align: left;
}

/* row1 */

.row1 {
  display: flex;
  /* background-color: #5F4221; */
  justify-content: center;
  align-items: center;
  margin-top: 7.5rem;
  gap: 4.75rem;
  flex-wrap: wrap;
}

/* .row1 .row1-img {
  background-color: aqua;
} */

.row1 .row1-img img {
  width: 100%;
  max-width: 32rem;
  height: 31rem;
}

.row1 .content {
  /* background-color: aliceblue; */
  width: 100%;
  max-width: 38rem;
  height: 24rem;
}

.row1 .content h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 3.813rem;
  color: var(--font);
  margin-bottom: 1.25rem;
}

.row1 .content p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #818194;
  margin-bottom: 1.25rem;
  width: 100%;
  max-width: 38rem;
}

.row1 .content .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1.1rem 3rem;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: var(--button);
  text-decoration: none;
  border-radius: 0.875rem;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 16rem;
  height: 3.75rem;
  text-align: center;
}

.row1 .content .cta:hover {
  transform: scale(1.1);
}

/* row2 */

.row2 {
    display: flex;
    /* background-color: #5F4221; */
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    gap: 4.75rem;
    flex-wrap: wrap;
}
  
.row2 .row2-img img {
    width: 100%;
    max-width: 32rem;
    height: 31rem;
}
  
.row2 .content {
    /* background-color: aliceblue; */
    width: 100%;
    max-width: 38rem;
    height: 24rem;
}
  
.row2 .content h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: var(--font);
    margin-bottom: 1.25rem;
}
  
.row2 .content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #818194;
    margin-bottom: 1.25rem;
    width: 100%;
    max-width: 38rem;
}
  
.row2 .content .cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1.1rem 3rem;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: var(--button);
    text-decoration: none;
    border-radius: 0.875rem;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 16rem;
    height: 3.75rem;
    text-align: center;
}
  
.row2 .content .cta:hover {
    transform: scale(1.1);
}

/* row3 */

.row3 {
    display: flex;
    /* background-color: #5F4221; */
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    gap: 4.75rem;
    flex-wrap: wrap;
}
  
.row3 .row3-img img {
    width: 100%;
    max-width: 32rem;
    height: 31rem;
}
  
.row3 .content {
    /* background-color: aliceblue; */
    width: 100%;
    max-width: 38rem;
    height: 24rem;
}
  
.row3 .content h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: var(--font);
    margin-bottom: 1.25rem;
}
  
.row3 .content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #818194;
    margin-bottom: 1.25rem;
    width: 100%;
    max-width: 38rem;
}
  
.row3 .content .cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1.1rem 3rem;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: var(--button);
    text-decoration: none;
    border-radius: 0.875rem;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 16rem;
    height: 3.75rem;
    text-align: center;
}
  
.row3 .content .cta:hover {
    transform: scale(1.1);
}

/* row4 */

.row4 {
    display: flex;
    /* background-color: #5F4221; */
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    gap: 4.75rem;
    flex-wrap: wrap;
}
  
.row4 .row4-img img {
    width: 100%;
    max-width: 32rem;
    height: 31rem;
}
  
.row4 .content {
    /* background-color: aliceblue; */
    width: 100%;
    max-width: 38rem;
    height: 24rem;
}
  
.row4 .content h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: var(--font);
    margin-bottom: 1.25rem;
}
  
.row4 .content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #818194;
    margin-bottom: 1.25rem;
    width: 100%;
    max-width: 38rem;
}
  
.row4 .content .cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1.1rem 3rem;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: var(--button);
    text-decoration: none;
    border-radius: 0.875rem;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 16rem;
    height: 3.75rem;
    text-align: center;
}
  
.row4 .content .cta:hover {
    transform: scale(1.1);
}

/* Produk Populer */

.populer {
    margin-top: 6.25rem;
    justify-content: center;
    background-color: antiquewhite;
}

.populer h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3.125rem;
    margin-bottom: 3.75rem;
}

.populer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
}
  
.populer .container .card {
    width: 17.5rem;
    height: 29.375rem;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}


/* @media screen and (max-width: 768px) {
    .rectangle {
        width: calc(33.33% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .rectangle {
        width: calc(50% - 10px);
    }
} */


/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 94%;
    }
}

/* Tablet */
@media (max-width: 1000px) {
    html {
        font-size: 87%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #e4d5c3;
        border-radius: 0 0 0 1.5rem;
        width: 11rem;
        height: 17rem;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 2rem 3rem;
        align-items: center;
        font-size: 1.4rem;
    }

}

/* Mobile Phone */
@media (max-width: 510px) {
    html {
        font-size: 55%;
    }
}
